body {
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100%;
  margin: auto;
  position: relative;
  @include media(">=980px") {
    width: 980px;
    margin: auto;
  }
  @include media(">=1024px") {
    width: 1024px;
    margin: auto;
  }
}
.header {
  background: $OuterSpace;
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
  color: $textColor;
  height: 37px;
  margin: auto;
  @include media(">=640px") {
    height: 71px;
  }
  @include media(">=980px") {
    height: 97px;
  }
}
.nav-text {
  color: $textColor;
  padding-left: 17px;
  font-size: 15px;
  @include media(">=640px") {
    font-size: 20px;
  }
}
.desctop-hidden {
  @include media(">=980px") {
    display: none;
  }
}
.mobile-hidden {
  display: none;
  @include media(">=980px") {
    display: block;
  }
}
.main-nav input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.main-nav input[type="checkbox"]:checked ~ ul {
  transform: none;
}
.main-nav ul.nav {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  background: $OuterSpace;
  z-index: 10;
  width: 100%;
  align-items: center;
  padding-top: 50px;
  transform: translate(0, -150vh);
  transition: transform 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  li {
    margin-bottom: 70px;
    a {
      font-size: 15px;
      color: $textColor;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include media(">=980px") {
    flex-direction: row;
    transform: none;
    height: 97px;
    padding-top: 0;
    background: none;
    li {
      font-size: 20px;
      margin-bottom: 0;
      padding-right: 30px;
      &:first-child {
        padding-left: 50px;
      }
    }
    a {
      color: $textColor;
      text-decoration: none;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.main-nav input[type="checkbox"]:checked ~ ul {
  transform: none;
}
.burger {
  position: absolute;
  top: 0;
  right: 0;
  background: $Shark;
  z-index: 12;
  width: 37px;
  height: 37px;
  @include media(">=640px") {
    width: 71px;
    height: 71px;
  }
  @include media(">=980px") {
    display: none;
  }
  span {
    background: #fff;
    position: absolute;
    width: 17px;
    height: 2px;
    top: 13px;
    right: 9px;
    &:hover {
      cursor: pointer;
    }
    @include media(">=640px") {
      width: 31px;
      height: 4px;
      top: 26px;
      right: 19px;
    }
  }
}
.burger span:nth-child(2) {
  top: 17px;
  @include media(">=640px") {
    top: 34px;
  }
}
.burger span:last-child {
  top: 21px;
  @include media(">=640px") {
    top: 43px;
  }
}
.main-nav input[type="checkbox"]:checked ~ label span:first-child {
  transform: rotate(-135deg);
  top: 18px;
  left: 3px;
  width: 33px;
  background: #fff;
  @include media(">=640px") {
    width: 60px;
    top: 33px;
    left: 7px;
  }
}
.main-nav input[type="checkbox"]:checked ~ label span:last-child {
  transform: rotate(135deg);
  top: 18px;
  left: 3px;
  width: 33px;
  background: #fff;
  @include media(">=640px") {
    width: 60px;
    top: 33px;
    left: 7px;
  }
}
.main-nav input[type="checkbox"]:checked ~ label span:nth-child(2) {
  opacity: 0;
}
.intro {
  height: 175px;
  width: 100%;
  background: linear-gradient(to right, #26b7c9, #1794ab);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(">=640px") {
    height: 355px;
  }
  @include media(">=980px") {
    height: 550px;
  }
  @include media(">=1024px") {
    height: 577px;
  }
  h1 {
    color: $White;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 25px;
    line-height: 44px;
    @include media(">=640px") {
      font-size: 27px;
      padding-bottom: 44px;
      padding-left: 53px;
      line-height: 44px;
    }
  }
}
.link {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(">=640px") {
    width: 365px;
  }
  a {
    color: $textColor;
    opacity: 50%;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 25px;
    &:hover {
      text-decoration: underline;
    }
    @include media(">=640px") {
      font-size: 18px;
      padding-left: 53px;
    }
  }
  span {
    &:hover {
      cursor: pointer;
    }
  }
  .icon-right-arrow:before {
    content: "\e906";
    color: $White;
    font-size: 10px;
    @include media(">=640px") {
      font-size: 16px;
    }
  }
}
.slider {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  @include media(">=640px") {
    height: 150px;
  }
  .txt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 75%;
    background: $BalticSea;
    h2 {
      font-size: 8px;
      color: $White;
      opacity: 50%;
      @include media(">=640px") {
        font-size: 15px;
      }
    }
  }
  span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    background: $MediumRedViolet;
    &:hover {
      cursor: pointer;
    }
  }
  .icon-right-arrow:before {
    content: "\e906";
    color: $White;
    font-size: 14px;
    @include media(">=640px") {
      font-size: 25px;
    }
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  span {
    height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $BlueGem;
    &:hover {
      cursor: pointer;
    }
    @include media(">=640px") {
      height: 553px;
    }
  }
  .icon-right-arrow:before {
    content: "\e906";
    color: $White;
    font-size: 28px;
    @include media(">=640px") {
      font-size: 54px;
    }
  }
}
.content {
  background: $Gallery;
  padding: 35px;
  @include media(">=640px") {
    padding: 70px;
  }
  .website {
    padding-bottom: 25px;
    @include media(">=640px") {
      padding-bottom: 63px;
    }
    a {
      text-decoration: none;
      color: $BlueChill;
      font-weight: bold;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
      @include media(">=640px") {
        font-size: 21px;
      }
    }
  }
  .text-content p {
    color: $Emperor;
    font-size: 10px;
    margin-bottom: 40px;
    @include media(">=640px") {
      font-size: 17px;
      margin-bottom: 80px;
    }
    @include media(">=980px") {
      columns: 370px 2;
      column-gap: 74px;
    }
  }
}
